*
{
    font-family: 'Courier New', Courier, monospace;
}
.body {
    background-color: black;
}

.intro
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    margin: 4vh;

}
section {
    position: relative;
    min-height: 100vh;
    align-items: center;
    background-color: #ccc;
    justify-content: center;

}
section::before{
    content: " ";
    position: absolute;
    width: 50%;
    height:100%;
    top: 0;
    left: 0;
    background: #03a9f4;

}
section .container {
    position: relative;
    min-height: 560px;
    min-width: 1120px;
    z-index: 1000;
    display: flex;
}