
body {
    
    font-family: 'Ubuntu Mono', monospace;
    
}
main .container .contactinfo h1
{
color: cornsilk ;
font-weight: 1000px ;
font-size: 40px;

}

.intro 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    z-index: 1; 
}
main {
    background: rgb(112, 133, 134);
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
    
main .container {
    position: relative;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    z-index: 1000;  
}

 main::before {
     content: "";
     position: absolute;
     right:0;
     top: 0;
     width: 50%;
     min-height: 100%;
     background-color: rgb(66, 81, 82);
}

main .container .contactform 
{
    position: absolute;
    top: 10vh;
    width: calc(100% - 330px);
    height: 80vh;        
    padding: 40px 50px;
    margin-bottom: 50px;
    background: cornsilk;
    right: 130px;
    z-index: 1;
    padding-left: 330px;
    margin-left: 330px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
main .container .contactform form {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding-top: 25px;
}

main .container .contactform form ,inputBox 
{
    position: relative;
    margin: 0 0 25px 0;
}

main .container .contactform form .inputBox.w50
{
width: 45%;
} 

main .container .contactform form .inputBox.w60
{
width: 50%;
margin-top: 5px;
padding-top:5px;

} 

main .container .contactform form .inputbox.w100 
{
width: 100%;

} 

input
{
width: 100%;
border: none;
border-bottom: 2px solid rgb(112, 133, 134);
font-size: 17px;
font-weight: 300;
color:rgb(66, 81, 82);
padding: 5px 0;
background-color: cornsilk;

}
select
{
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(112, 133, 134);
    font-size: 17px;
    font-family:'Ubuntu Mono', monospace;
    font-weight: 300;
    color:cornsilk;
    padding: 5px 0;
    background-color: rgb(66, 81, 82);  
}


main .container .contactinfo {
    position: absolute;
    
    top:20vh;
    left:50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:  rgb(66, 81, 82);
    z-index: 2;
    right: 60%;
}

main .container .contactinfo .contactinfo-ul{
    position: relative;
    margin: 0 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

main .container .contactinfo .contactinfo-ul li{
    position: relative;
    margin: 20px 0; 
    color:cornsilk;
    cursor: pointer;
    display: flex;
    

    z-index: 1000; 
}

main .container .contactinfo .contactinfo-ul li span:nth-child(1)
{
    width: 100%;
    min-width: 32px;
}


main .container .contactinfo .contactinfo-ul li span:nth-child(2)
{
    color: cornsilk;
    font-weight: 300;
    margin-left: 10px;
    opacity: 0.5;
}

main .container .contactinfo .contactinfo-ul li:hover span:nth-child(1) img,
main .container .contactinfo .contactinfo-ul li:hover span:nth-child(2) 
{
    opacity:1
}

main .container .contactinfo .contactinfo-ul li span:nth-child(3)
{
    width: 100%;
    min-width: 32px;
}
main .container .contactinfo .contactinfo-ul li span:nth-child(3) img
{
    filter:invert(1);
    max-width: 100%;
    opacity:0.5;
}


