
body {
    
    font-family: 'Ubuntu Mono', monospace;
    
}
main .container .contactinfo h1
{
color: cornsilk ;
font-weight: 1000px ;
font-size: 40px;

}

.intro 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    z-index: 1; 
}
main {
    background: rgb(112, 133, 134);
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}
    
main .container {
    position: relative;
    min-width: 1200px;
    min-height: 100%;
    display: flex;
    z-index: 1000;  
}

 main::before {
     content: "";
     position: absolute;
     right:0;
     top: 0;
     width: 50%;
     min-height: 100%;
     min-width: 100%;
     background-color: rgb(66, 81, 82);
}

main .container .contactform 
{
    position: absolute;
    top: 10vh;
    width: calc(100% - 330px);
    height: 85vh;        
    padding: 40px 50px;
    margin-bottom: 50px;
    background: cornsilk;
    right: 130px;
    z-index: 1;
    padding-left: 330px;
    margin-left: 330px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
main .container .contactform form {
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding-top: 25px;
}

main .container .contactform form ,inputBox 
{
    position: relative;
    margin: 0px 0 25px 0;
}

main .container .contactform form .inputBox.w50, .submit
{
width: 35%;
} 

main .container .contactform form .inputBox.w60
{
width: 45%;
padding-top: 15px;
} 

main .container .contactform form .inputBox.w100 
{
width: 100%;
margin: 30px;
} 

main .container .contactform form .inputBox input,  
main .container .contactform form .inputBox textarea
{

width: 100% !important;
resize: none;
border: none;
border-bottom: 2px solid rgb(112, 133, 134);
font-size: 17px;
font-weight: 300;
color:rgb(112, 133, 134);
padding: 5px 0;
background-color: cornsilk;
font-family:'Ubuntu Mono', monospace;
outline: none;
}

main .container .contactform form .inputBox textarea
{
    min-height: 100px;
}
main .container .contactform form .inputBox span {
    position: absolute;
    padding: 0;
   margin: 0 20px 0 20px;
    font-size: 17px;
    font-weight: 300;
    color:rgb(112, 133, 134);
    transition: 1s;
    pointer-events: none;
}

input:focus ~ span
{
   transform: translate(70px);
}

main .container .contactform .inputBox input[type="submit"]
{
    position:relative;
    cursor:pointer;
    background-color:  rgb(112, 133, 134);
    margin-top: 20px;
   border: none;
    max-width: 150px;
    color:cornsilk;
}

main .container .contactform .inputBox input[type="submit"]:hover
{
background-color: rgb(66, 81, 82);

}

select
{
font-family:'Ubuntu Mono', monospace;
color: rgb(112, 133, 134)!important;
border: none;
border-bottom: 2px solid rgb(112, 133, 134);
font-size: 17px;
font-weight: 300;
color:rgb(112, 133, 134);
padding: 5px 0;
background-color: cornsilk;
}


main .container .contactinfo {
    position: absolute;
    
    top:20vh;
    left:50px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background:  rgb(66, 81, 82);
    z-index: 2;
    right: 60%;
}

main .container .contactinfo .contactinfo-ul{
    position: relative;
    margin: 0 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

main .container .contactinfo .contactinfo-ul li{
    position: relative;
    margin: 20px; 
    color:cornsilk;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}


.icon {
    background-color: cornsilk;
}

main .container .contactinfo .contactinfo-ul li span:nth-child(1), main .container .contactinfo .contactinfo-ul li span:nth-child(2),main .container .contactinfo .contactinfo-ul li span:nth-child(3)
{
    width: 100%;
    min-width: 32px;
}

main .container .contactinfo .contactinfo-ul li span:nth-child(2), .icon
{
    color: cornsilk;
    font-weight: 300;
    margin-left: 10px;
    opacity: 0.5;
}

main .container .contactinfo .contactinfo-ul li:hover span:nth-child(1) .icon,
main .container .contactinfo .contactinfo-ul li:hover span:nth-child(2) 
{
    opacity:1
}

main .container .contactinfo .contactinfo-ul li span:nth-child(3)
{
    width: 100%;
    min-width: 32px;
}
main .container .contactinfo .contactinfo-ul li span:nth-child(3) .icon
{
    filter:invert(1);
    max-width: 100%;
    opacity:0.5;
}


@media only screen and (min-width: 768px) 
{

}
    
    
