.body {
    background-color: black;
}

.intro 
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -.02em;
    line-height: 1.4;
    text-transform: uppercase;
    color: #000000;
    margin: 4vh;

}

 section {
     content: "";
     position: absolute;
     right:0;
     top: 0;
     width: 50%;
     height: 100%;
     background-color: #ccc;

}
    
main .container {
    position: relative;
    min-width: 1200px;
    min-height: 560px;
    display: flex;
    z-index: 1000;
    flex-direction: column;
}

main .container .contactinfo {
    position: absolute;
    min-width: 50%;
    min-height: 100%;
    top: 0px;
    left:0;
    width: 350px;
    height: calc (100 - 80px);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    
}

