.title {
    font-family: 'Ubuntu Mono', monospace;
    padding: 20px;
}


.stores_container {
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product_container {
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.stores{
    background-color: #f1f1f1;
  margin: 10px;
  font-size: 30px;
  height: 50px;
}
.products {
}
.col{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom:50px;
}
.col img{
    width: 100%;
}
.products:hover{
    transform: scale(1.15);
}
.stores:hover{
    transform: scale(1.15);
}

.featured_stores {
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
}

.featured_products {
    background-color: whitesmoke;
    width: 100%;
    height: 200px;
}
