main {
    background-color: whitesmoke;
    margin-top: -10px;
}

.declare {
    background-color: white;
    font-size: 5rem;
    text-align: center;
    padding: 200px 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.searchbar input{
    height: 45px;
    width: 800px;
    border-radius: 10px;
}
.title {
    width: 100%;
    margin: 30px 20px;
    font-size: 30px;
    text-transform: initial;
    font-family: 'Ubuntu Mono', monospace;
    color: #252525;
}
.wrapper-store {
    width: 100%;
    overflow: hidden;
}
.stores-container {
    height: 500px;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    position: relative;
    
}

.stores-container input {
    display: none;
}

<<<<<<< Updated upstream
.stores-container input {
    display: none;
}

=======
>>>>>>> Stashed changes


.store-image {
    height: 100%;
    width: 100%;
<<<<<<< HEAD
    position: relative;
=======
    position: absolute;
    transition: 2s;
}

.navigation-manual {
    position: absolute;
<<<<<<< Updated upstream
    transition: 2s;
}

.navigation-manual {
    position: absolute;
=======
>>>>>>> Stashed changes
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content:center;

}

.manual-btn {
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    
<<<<<<< Updated upstream
=======
>>>>>>> e3d5c473d0c9880a531272c275d6405f21349dd7
>>>>>>> Stashed changes
}

.store-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.next-btn,
.prev-btn {
    padding: 16px;
    position: absolute;
    top: 125%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
    transition: 400ms;
}

.next-btn:hover,
.prev-btn:hover {
    background: rgb(147, 199, 201);
}

.prev-btn {
    left: 20px;
}
.next-btn {
    right: 20px;
}

/* 222*/

.wrapper-ftstores {
    width: 100%;
    overflow: hidden;
}
.ftstores-container {
    height: 500px;
    transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
    position: relative;
}

.ftstore-image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.ftstore-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.ftnext-btn,
.ftprev-btn {
    padding: 16px;
    position: absolute;
    top: 250%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
    transition: 400ms;
}

.ftnext-btn:hover,
.ftprev-btn:hover {
    background: rgb(147, 199, 201);
}

.ftprev-btn {
    left: 20px;
}
.ftnext-btn {
    right: 20px;
}


/* producer slider button*/

.pronext-btn,
.proprev-btn {
    padding: 16px;
    position: absolute;
    top: 190%;
    transform: translateY(-50%);
    font-size: 20px;
    z-index: 100;
    cursor: pointer;
    transition: 400ms;
}

.pronext-btn:hover,
.proprev-btn:hover {
    background: rgb(147, 199, 201);
}

.proprev-btn {
    left: 0px;
}
.pronext-btn {
    right: 0;
}

/* Navigation Dots */

.navigation-dots {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.single-dot {
    background: #333;
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
}

.single-dot.active {
    background: #eee;
}

/*222 */
.ftnavigation-dots {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.ftsingle-dot {
    background: #333;
    height: 16px;
    width: 16px;
    border: 2px solid #000;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
    transition: 400ms;
}

.ftsingle-dot.active {
    background: #eee;
}




.new-products {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
}

.item-box {
    box-shadow: 4px 4px 5px grey;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #e9e9e9;
    text-align: center;
    float: left;
    margin: 2% 0% 2% 4%;
    width: 270px;
}

a>img {
    width: 268px;
    height: 330px;
    border-radius: 8px;
}

.item-box>a {
    color: black;
    text-decoration: none;
}

.price {
    text-align: center;
    color: gray;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .item-box {
        margin: 0.5% 0.5% 3% 30%;
        width: 180px;
    }

    a>img {
        width: 178px;
        height: 180px;
    }

    .item-box button {
        font-size: 12px;
    }

    .item-box>h3 {
        font-size: 12px;
    }

    .price {
        font-size: 12px;
    }
    .store-image img {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .prev-btn, .next-btn {
        top: 220%;
    }
    .ftprev-btn, .ftnext-btn {
        top: 490%;
    }

}

@media screen and (max-width: 1024px) {
    .item-box {
        margin: 1% 1% 3% 1%;
        width: 180px;
    }

    a>img {
        width: 178px;
        height: 220px;
    }

    .item-box button {
        font-size: 16px;
    }

    .item-box>h3 {
        font-size: 16px;
    }

    .price {
        font-size: 16px;
    }
}

    /*    .cookie-container{
        width: 80%;
        height: 38%;
        position: fixed;
        bottom: -50%;
        top: 10%;
        left: -16px;
        right: 0;
        background: #2f3640;
        color: #f5f6fa;
        padding: 0 32px;
        box-shadow: 0 -2px 16px rgb(47 54 64 / 39%);
        transition: 400ms;
        margin: auto;
    }*/
    /*.cookie-container.active {
        width: 80%;
        height: 38%;
        position: fixed;
        bottom: -50%;
        top: 10%;
        left: -16px;
        right: 0;
        background: #2f3640;
        color: #f5f6fa;
        padding: 0 32px;
        box-shadow: 0 -2px 16px rgb(47 54 64 / 39%);
        transition: 400ms;
        margin: auto;
    }
    .cookie-container .button-container{
        display: flex;
        flex-direction: column;
    }*/

/*
.cookie-container {

    width: 30%;
    height: auto;
    position: fixed;
    bottom: -50%;
    left: 0;
    right: 0;
    background: #2f3640;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  
    transition: 400ms;
    margin: auto;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }

.wrapper{
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.5);
}
.wrapper.active {
    display: block;
}*/

