body {
    color: black;
}
main {
    
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13.3333px;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}
main .background-image {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/picture1.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
padding-bottom: 10%;
}
main .myaccountform {
    
    margin-top: 5vh; 
position: relative;
width: 50%;

background-color: none;
justify-content: center;
align-items: center;
margin-left: 25%;
margin-right:25%;
margin-bottom: 15% ;
}

#login-form {
    background: white;
    width:350px;
    height:220px;
    margin-left: 23%;
    justify-content: center;
align-items: center;
}
h2 
{
    margin: 0;
    color:white;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    font-size: 60px;

}


main .background-image  #register-form {
    
    width: 450px;
    display: flex;
    position: relative;
   margin-left: 23%;
   bottom: 25vh;
    
    background-color: whitesmoke;
    justify-content: center;
align-items: center;

   
}

main .background-image  .buttonBox
{   position: relative;
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 240px;
    box-shadow: 0 0 20px 9px rgb(173, 209, 209);
    margin: 20px auto;
    border-radius: 40px;  
    background-color: whitesmoke;
   

}
main .background-image .buttonBox .switcher 
{
background:linear-gradient(to right, cadetblue, #ccc );
position: absolute;
height: 30px;
width: 120px;
margin: 0;
border-radius: 40px;
left: 0;
cursor: pointer;
}

main .background-image .buttonBox .toggle 
{   position: relative;
    cursor: pointer;
    border:0;
    outline: none;
    display: flex;
    background-color: none;
    background: transparent;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main .background-image .myaccount .login-button 
{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:0px;
    height: 15vh;
    flex-direction: column;
    
}

main .background-image .myaccount .login-button button {
    background-color: cadetblue ;
    background: transparent;
    position: absolute;
    height: 30px;
    width: 120px;
    margin:0;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    border:none;
    outline: none;
    background: linear-gradient(to right, cadetblue, #ccc );
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main .background-image .myaccount .login-button .checkbox span {
    position: relative;
    height: 30px;
    width: 140px;
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    
    
}
main .background-image .myaccount .login-button .btn 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
main .background-image .myaccount .login-button .btn #forgot-btn{
    position: relative;
    left: 30px;
    background: none !important;
    outline:none;
}

main .background-image .myaccount .login-button .checkbox
{
    display: inline-block;
}

main .background-image .myaccount .inputBox.w40 input{
    
    top: 30px;
    
    margin-top: 20px;
    border: none;
    border-bottom: 2px solid rgb(112, 133, 134);
    outline: none;
    background: transparent;
    
}

main .background-image .myaccount .inputBox.w40 {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align:center;
    flex-direction: column;
}


main .background-image .myaccount .inputBox.w20
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-left: -25px;
    background-color: white;
    text-align:center;
    
}
main .background-image .myaccount .inputBox.w20 input [type="radio"]
{
    border: none ;
    margin: 10px;
    
    padding-top: 5px;
}


main .background-image .myaccount .inputBox.w20 .input-field input , select {
    
  
    border: none;
    border-bottom: 2px solid rgb(112, 133, 134);
    outline: none;
    background: transparent;
    margin: 10px;
    width: 35%;
    padding-top: 5px;
}
main .background-image .myaccount .inputBox.w20 .radio-box

{position: relative;

display: flex;
justify-content: space-around;
align-items: center;
   width: 350px;
   
   

}
main .background-image .myaccount .inputBox.w20 .radio-box span {
    width: 40%;   
    
<<<<<<< HEAD
=======
    
}

#submit-btn a{
    text-decoration: none;
    color: black;
}

#forgot-btn a{
    text-decoration: none;
    color: black;
}
#register-form 
{
>>>>>>> ee4f5c5aeaa85814a9ce5adf47663d209408f8f9
}


@media (max-width:768px){
    .main .background-image {
        width:100%;
        min-width:auto;
        
    }
    #register-form {
        width: 100%;
        height: auto;
        left: 0;
        right: 50%;
    }
    #login-form{
        width: 100%;
        height: auto;
        
    }
    
}