.main {
    
    min-height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13.3333px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form {
position: relative;
width: 60%;
background-color: none;
padding: auto;
margin: auto;
  }

  h1{
    display: block;
    font-size: 2em;
    margin: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.upload {
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
  }

  .form-control {
    height: 40px;
    padding: 8px 12px;
    outline: none;
    border: 1.5px solid rgb(138, 129, 129);
    border-radius: 3px;
    font-size: 13.3333px;
  }
  
  .form-control:hover {
    border-color: cadetblue;
  }
    .select-group {
    display: flex;
   justify-content: space-between;
   align-items: center;
}
    .form-radio {
    display: flex ;
    flex-direction: column;
    padding: 8px 12px;
    
}
.form-submit{
    background: cadetblue;
    font-size: 26px;
    height: 50%;
    width: 63%;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    margin: auto;
    top: 1vh;
    font-family: inherit;
}
.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
    
    
 }
span {
    
     visibility: visible;
    
     
     
  }