* {
    font-family: 'Arial', monospace;
}

.background {
    background-color: whitesmoke;
}

.flex {
    display: flex;
    /*flex-wrap: nowrap; */
    background-color: white;
}

.flex>h2 {
    width: 250px;
    line-height: 35px;
    text-align: center;
    margin-left: 7%;
}

.flex>p {
    width: 250px;
    line-height: 70px;
    text-align: center;
    margin-left: 7%;
}


.order-content {
    margin: 1% 12% 1% 12%;
    padding: 1%;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px grey;
    background-color: white;
}

#number {
    font-size: 20px;
    text-align: center;
    width: 45px;
    height: 30px;
}

.order-bar {
    padding-left: 10px;
    margin-top: 3%;
}

.order-bar>p {
    font-size: 36px;
}

.order-button>a {
    font-size: 24px;
    background-color: black;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}
#coupon {
    font-size: 20px;
    font-style: italic;
}

#check {
    border:none;
    background-color: black;
    color: white;
    font-size: 18px;
    width: 125px;
    height: 30px;
    padding: 5px;
}
#note {
    font-style: oblique;
    font-size: 20px;
}
.c-quantiny-input {
    display: flex;
}
.quantity-input {
    margin-left: 170px;
    padding-left: 1%;
    box-sizing: border-box;
    text-align: center;
    width: 75px;
    height: 50px;
}
.btn {
    box-sizing: border-box;
    border: none;
    background: black;
    color: white;
    width: 100px;
    height: 50px;
    margin: 25px 0px 10px 250px;
}
/*resolution for ipad*/
@media screen and (max-width: 1024px) {
    .flex > h2 {
        margin-left:4%;
    }
    .flex > p {
        margin-left: 90px;
        width: 70px;
    }
    .quantiny-input {
        width: 50px;
        height: 25px;
    }
    .btn {
        margin-left: 50px;
        width: 75px;
        height: 35px;
        font-size: 13px;
    }
}
/* resolution for iphone*/
@media screen and (max-width: 767px) {
    .flex>p {
        font-size: smaller;
        line-height: smaller;
        margin-left: 0px;
    }

    .flex>h2 {
        font-size: smaller;
        margin-left: 2%;
    }

    #number {
        font-size: 10px;
        width: 35px;
        height: 20px;
    }

    .order-bar>p {
        font-size: 20px;
    }

    .order-button>a {
        font-size: 16px;
        padding: 7px 15px;
        margin: 2px;
    }
    #coupon {
        font-size: 16px;
    }
    #check {
        width: 90px;
        height: 23px;
        font-size: 13px;
        padding: 0px;
    }
    #note {
        font-size: 13px;
    }
    .quantity-input {
        width: 35px;
        height: 35px;
        font-size: 10px;
        margin-left:25px;
    }
    .btn {
        width: 60px;
        height: 30px;
        font-size: 10px;
    }
}