button {
    background-color: cadetblue;
    background: transparent;
    position: absolute;
    height: 30px;
    width: 120px;
    margin: 0;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    border: none;
    outline: none;
    background: linear-gradient(to right, cadetblue, #ccc);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#reset-form {
    width: 100%;
}
main {
    align-items: center;
    justify-content: center;
    position: relative;
}

.Box span,
input,
button {

    margin: 5px;
}

.Box {
    position: absolute;
    display: flex;
    flex-direction: column;


    position: relative;
    min-width: 50%;
    min-height: 100%;
    background-color: none;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5vh;
}

.inputBox .w2 {
    width: 45%;
}

.inputBox .w3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
}

@media only screen and (width: 768px) {
   #reset-form {
       width: 70%;
   } 
}
@media only screen and (width: 667px) {
    #reset-form {
        width: 70%;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;

    } 
    .heading {
        font-size: 15px;
    }
 }
 @media only screen and (width: 1024px) {
    #reset-form {
        width: 50%;}
    .des {
        display: flex;
        flex-direction: column;
    }
} 
 