* {
    font-family: 'Ubuntu mono', monospace;
}
.store-page {
    display: -webkit-flex;
    display: flex;
}
.store-logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 3%;
}
.store-logo > img {
    height:'200px';
     width:'200px';
}
.store-description {
    box-sizing: border-box;
    margin-right: 35%;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    font-size: 20px;
}
.p-title > h1 {
    margin-top: 25px;
    margin-left: 3%
}
.new-products  {
    display:flex;
    flex-wrap: nowrap;
}
.item-box {
    box-shadow: 4px 4px 5px grey;
    box-sizing:border-box;
    border: 1px solid black;
    text-align: center;
    float: none;
    margin-left: 4%;
}
.item-box > img {
    width:270px;
    height:330px;
}
.item-box > a{
    position: relative;
}
.item-box button {
    position:inherit;
    right: 0;
    bottom: 0;
    border: none;
    outline:0;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 30px;

}
.price {
    text-align: center;
    color: grey;
}
.browse-tlt {
    margin-top: 50px;
    margin-left: 20px;
}
.browse {
    position: relative;
    display:inline-block;
}
.dropdown-button {
    background-color: Black;
    color: white;
    padding: 18px;
    font-size: 21px;
    border: none;
    margin-left: 25px;

}
.dropdown-content {
    display: none;
    position:absolute;
    background-color: White;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 25px;
}
.dropdown-content a {
    color: Black;
    padding: 10px 14px;
    text-decoration: none;
    display:block;
}

.dropdown-content a:hover {background-color: #ddd;}
.browse:hover .dropdown-content {display: block;}
.browse:hover .dropdown-button {background-color: Black;}
/*resolution for ipad*/
@media screen and (max-width: 1024px) {
    .store-logo > img {
        width: 130px;
        height: 130px;
    }
    .store-description {
        font-size: 16px;
    }
    .browse-tlt {
        font-size: 20px;
        margin-left: 1%;
    }
    .dropdown-button {
        font-size: 16px;
        padding: 10px;
    }
    .dropdown-content {
        min-width: 130px;
        margin-left: 20px;
    }
    .p-title > h1 {
        margin-top : 20px;
        margin-left: 2%;
    }
    .item-box {
        float: none;
        display: initial;
        margin-left: 1%;
        width: 100%;
    }
    .item-box > img {
        width: 190px;
        height: 220px;
    }
    .item-box button {
        font-size: 16px;
    }
    .item-box > h3 {
        font-size: 16px;
    }
    .price {
        font-size: 16px;
    }
}
/*resolution for iphone*/
@media screen and (max-width: 767px) {
    .store-logo > img {
        width: 70px;
        height: 70px;
    }
    .store-description {
        font-size: 12px;
    }
    .browse-tlt {
        font-size: 16px;
        margin-left: 0.5%;
    }
    .dropdown-button {
        font-size: 12px;
        padding: 6px;
    }
    .dropdown-content {
        min-width: 70px;
        margin-left:10 px;
    }
    .p-title > h1 {
        margin-top: 15px;
        margin-left: 1%;
    }
    .item-box {
        float: none;
        display: initial;
        margin-left: 0.5%;
        width: 100%;
    }
    .item-box > img {
        width: 100px;
        height: 110px;
    }
    .item-box button {
        font-size: 12px;
    }
    .item-box > h3 {
        font-size: 12px;
    }
    .price {
        font-size: 12px;
    }
}