* {
    font-family: 'Ubuntu mono', monospace;
}
.store-page {
    display: -webkit-flex;
    display: flex;
}
.store-logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 3%;
}
.store-description {
    box-sizing: border-box;
    margin-right: 35%;
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
    font-size: 20px;
}
.new-products  {
 
    display: flex;
    flex-wrap: nowrap;
}

.item-box {
    box-shadow: 4px 4px 5px grey;
    box-sizing:border-box;
    border:1px solid black;
    text-align: center;
    float: left;
    margin-left: 5%;
}
.item-box button {
    border: none;
    outline:0;
    color: white;
    background-color: black;
    text-align:center;
    cursor: pointer;
    width: 100%;
    font-size: 30px;

}
.price {
    text-align: center;
    color: grey;
}
.category {
    box-sizing:border-box;
    border: none;
    color: white;
    background-color: black;
    text-align:center;
    cursor:pointer;
    width: 300px;
    height: 50px;
    font-size: 15px;
    margin-left: 3%;
}