*{
    font-family: 'Ubuntu mono', monospace;
}
.confirmed {
    text-align: center;
    font-size: 100px;
    padding-top: 3%;
}
.icon {
    width: 128px;
    height: 128px;
    margin-left: 45%;
    margin-top: 3%
}
/* resolution for ipad*/
@media screen and (max-width: 1023px) {
    .confirmed {
        font-size: 64px;
    }
    .icon {
        width: 72px;
        height: 72px;
    }
}
/*resolution for iphone*/
@media screen and (max-width:767px ) {
    .confirmed {
        font-size: 32px;
    }
    .icon {
        margin-left: 43%;
    }
}