main {
  min-height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 13.3333px;
  margin:auto ;
  padding: 40px;
  width:100% ;
}

form {
  display: flex;
  flex-direction: column;
}

.form-sep {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form2{
  width: 100%;
  background-color: whitesmoke;
  padding: 40px;
  margin: auto;
  align-self: center;
  box-shadow: 15px 14px 12px 0 rgb(61 59 92 / 12%);
}
.form1 {
  width: 100%;
  background-color: none;
  padding: 40px;
  margin: auto;
  align-self: center;
 
}

.des {
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 20px;
}
a {
 text-decoration: none;
 list-style: none;
 color: cadetblue;
}
a:hover {
color: black;
}
h1{
  display: block;
  font-size: 3em;
  margin: auto;
  font-weight: bold;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
}
.form-control {
  height: 40px;
  padding: 8px 12px;
  outline: none;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 13.3333px;

}

.form-control:hover {
   
  background-color: whitesmoke;
}


.form-submit{
background:linear-gradient(to right, grey, cadetblue );
font-size: 17px;
height: 50%;
width: 20%;
border-radius: 15px;
cursor: pointer;
outline: none;
display: block;
margin: auto;
margin-top: 5px;
font-family: inherit;
box-shadow: 3px 2px 0px 0px #1e6a73;
}

.form-message {
  font-size: 12px;
  line-height: 15px;
  padding: 5px 0 0;
font-weight: bold;
}
.form-success {
 border:2px solid cadetblue;
}
.form-error{
border:2px solid #e0072c;
}

.error-message {
  color: #e0072c;
}
.success-message {
color:#5f9ea0;
}

.Box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}